<p>Tasty Lounge helps you find and order food from wherever you are.</p><br>
<p> Here is how it works:  Simply search for thee cusine. We will list all menu items in that cusine. You pick what you will like to order. </p> 
<p>What we can assure:  Your food is prepared with atmost attention to detail to your liking, packed neat ,tight and sealed and finally delivered to you with our safety seal.</p>
<p> What you should do:  Sit back and enjoy the delicious meal.</p>

<img [src]="img2" alt="Tasty" width="800" height="400">;